.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
}

@media (min-width: 320px) {
    .card-col {
        flex: 0 0 auto;
        width:100%
    }
}

@media (min-width: 768px) {
    .card-col {
        flex:0 0 auto;
        width:50%;
    }
}

@media (min-width: 1024px) {
    .card-col {
        flex: 0 0 auto;
        width:33.33%;
    }
}