{% extends "base.html" %}
{% load filters %}
{% block content %}

<head>
    <script>
        const useToast = (toastTrigger) => {
            const toast = new bootstrap.Toast($('#liveToast')[0])
            toast.show()
        }

        const comment = (reply) => `
        <div class="animate-slide-in-fwd-center" id="${reply.pk}-reply">
            <div class="text-md mt-2">${reply.comment}</div>
            <div class="text-sm mt-3">${reply.created_at.split("T")[0]}</div>
            <div class="flex justify-between">
            
            <div class="text-sm mb-2">Dikomentari oleh <span class="font-bold">dr. ${reply.author}</span></div>
            <button class="cursor-pointer" id='${reply.pk}'>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
</svg>
</button>
            </div>
            <hr></div>`

        const forumPost = (post) => `<div class="sm:ml-24 mt-10 flex flex-col">
        <div class="text-center sm:text-left  text-xl sm:text-2xl font-bold">
            Forum Konsultasi
        </div>
        <div>${post.created_at.split('T')[0]}</div>
        

    </div>
    <div class="mx-8 sm:mx-[22%] mt-2 sm:mt-5">
        <div>
            <div class="text-3xl text-red-500 capitalize">
                ${post.question}
            </div>
            <div class="mt-1">Dibuat oleh <span class="font-bold">${post.author}</span></div>
            <div class="mt-4">${post.description}</div>
        </div>
        

    </div>`

        const addComment = (reply) => {
            return $('#comment-section').prepend(comment(reply))
        }

        const deleteReply = (reply) => {
            $(`#${reply.pk}`).click(function () {
                $.ajax({
                    url: `/forum/${reply.pk}/delete-comment/`,
                    type: 'DELETE',
                    success: function (response) {

                        if (response.status == "error") {
                            useToast(true)
                        }
                        else {
                            $(`#${reply.pk}-reply`).addClass("animate-slide-out-blurred-right")
                            setTimeout(function () { $(`#${reply.pk}-reply`).remove(); }, 600);
                        }
                    },
                })
            })
        }




        $(document).ready(function () {
            const pk = $(".get-id").attr("id")
            $.get(`/forum/json/${pk}`, function (data) {
                $('.get-id').prepend(forumPost(data))
                data.replies.map((reply) => {
                    console.log(reply)
                    addComment(reply)
                    deleteReply(reply)
                })
            })

            // $.get('/forum/json', function (data) {
            //     data.map((post) => {
            //         addPost(post)
            //         deletePost(post)
            //     })
            // })

            $("#btn-submit").click(function () {




                $.post(`/forum/${pk}/add-comment`, { comment: $(".comment-input").val() }, function (res) {
                    addComment(res)
                    deleteReply(res)
                    $(".comment-input").val('')

                })
            })
        })
    </script>
</head>

<div id={{pk}} class="get-id">
    <div class="mt-10 mx-8 sm:mx-[22%] mt-10">
        <div class="text-xl font-bold">Berikan Komentarmu </div>
        <div class="mt-4">
            <form method="">
                {{ form.comment|addclass:"bg-red-100 rounded-lg h-10 pl-4 mt-1 comment-input w-full" }}
            </form>
            <div class="flex justify-end mt-4">
                <button id="btn-submit" class="p-2 bg-red-300 rounded-lg">Submit</button>
            </div>
        </div>
        <div class="mt-4" id="comment-section">

        </div>
    </div>



</div>

{% endblock content %}