{% extends "base.html" %}

{% block content %}
<div class="text-center font-bold">
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <p>Register Akun</p>
        </div>
        <div>
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
        <div>
            <input type="text" name="email" placeholder="Email" class="form-control">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <div>
            <input type="password" name="repeat_password" placeholder="Repeat password" class="form-control">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
</div>

{% if messages %}
<ul class="text-center font-bold text-red-400">
    {% for message in messages %}  
        <li>{{ message }}</li>  
    {% endfor %}  
</ul>
{% endif %}

{% endblock content %}